build/
release/
debug/
*.user
*.log
*.err
full_log.txt
*.d
*.o
*.obj
*.lib
*.dll
*.exe
.vscode/
.idea/
.qtcreator/
.trae/
.github/
*.qm
*.ts
# Note: We do not ignore *.txt because CMakeLists.txt and others are important.
